[buildout]
find-links = http://pypi.python.org/simple/lovely.buildouthttp
             http://pypi.python.org/simple/zc.buildout
             http://pypi.python.org/simple/setuptools
             http://pypi.python.org/simple/distribute
develop = .

parts = test
        checker


[test]
recipe = zc.recipe.testrunner
eggs = j01.form [test]


[checker]
recipe = p01.recipe.setup:importchecker
path = src/j01/form
